@import "tailwindcss";

@theme {

  --color-*: initial;  
  --color-black: #05060d;
  --color-green: #C6FF4A;
  --color-grey: #A09DA5;
  --color-white: #F7F2E8;
  --color-violet: #A990FF;
  --color-pink: #FF8EAF;
  --color-blue: #7AA2F9;
  --font-display: "Press Start 2P", monospace;
  
}
